a {
    text-decoration: none;
    color: white;
}
  
ul a, ul button {
    margin: 0 0.2rem;
}

.logo {
    margin: 0 auto;
    font-size: xx-large;
    max-width: 390px;
}

img {
    height: 70px; 
}

mat-toolbar {
    height: 100px;
}

@media only screen and (max-width: 767px) {
    img {
        height: 50px; 
        width: 200px;
    }
}