ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: white;
}
  
ul a, ul button {
    margin: 0 0.2rem;
}
  
.logo {
}

  .search-input {
    position: relative;
    min-width: 150px;
    max-width: 200px;
    margin-left: 1rem;
    border-radius: 2px;
    color: black;
    background-color: white;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  }
  
  .search-input input {
    text-indent: 35px;
    height: 100%;
    margin-top: 0.0625em;
    border: none;
    background-color: transparent;
  }
  .search-input input:focus {
    outline: none;
  }
  
  .search-input mat-icon {
    position: absolute;
    color: #673ab7;
    top: 7px;
    left: 5px;
  }
  
  .search-img {
    width: 2rem;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 8px;
  }