
mat-card {
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: auto;
    margin-top: 1em;
}

h1.title {
    margin: auto;
    margin-top: 1em;
}

mat-card > input {
    width: 80%;
    margin: auto;
    margin-top: 2em;
}
mat-card > form {
  
  margin: auto;
  margin-top: 2em;
}

mat-card > button {
    max-width: fit-content;
    min-width: 4em;
    margin: auto;
    margin-top: 1em;
}


/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}


.defcontainer > p{
  
}

.defbtnlist{
  display: inline;
}

.defitem{
  text-decoration: none;
  display: inline-block;
}

.tablecontainer{
  display: inline-block;
}

.tablecontainer > a{
  padding: 3px ;
  
}

.tablecontainer > a:hover{
  background-color:rgba(118, 199, 226, 0.952);
  }



.dropdowncontainer{
 margin: 0 auto;
  
}

.basecontainer{
  margin: 1em;
  
}

.basecontainer > mat-form-field{
  margin: 1em;
  padding: 5px;
}

.basecontainer > h3{
  margin-top: 0;
  margin-bottom: 1em;
}


