<mat-card>
    <h1 class="title">Search a word</h1>
    <!-- <input type="text" value="" name="word" (input)="updateData($event.target.value)"> -->

    <div class="search-input">
        <input matInput type="text" placeholder="Search a word" [formControl]="searchQuery" 
            [matAutocomplete]="auto" />
        <mat-icon aria-hidden>search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <cdk-virtual-scroll-viewport itemSize="50" style="height: 256px;">
                <mat-option *cdkVirtualFor="let word of searchedWord | async" [value]="word">
                    <span>{{ word }}</span>
                </mat-option>
            </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
    </div>

    <button mat-raised-button type="button" color="accent" (click)="getRelationsType()">Search</button>

    <div class="btn-group" *ngFor="let relation of RelationsNames">
        <button type="button">{{relation.desc}}</button>
    </div>
</mat-card>